$background-primary: #f0f0f2;
$background-secondary: #417796;
$color-primary: #2E7EEA;
$color-secondary: #f0f0f2;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: $background-primary;
    font-size: 16px;
    line-height: 1.6rem;
    margin: 60px 0 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:active,
    &:visited {
        color: $color-primary;
    }

    &:hover {
        text-decoration: underline;
    }
}

#wrapper {
    margin: 0 auto;
    width: auto;
    padding: 2em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}

header.header {
    background-color: $background-secondary;
    color: $color-secondary;

    a, .app-name {
        color: $color-secondary;
        fill: $color-secondary;
    }
}

header.header,
footer.footer {
    height: 60px;
    width: 100%;
    z-index: 999;

    nav {
        align-items: center!important;
        display: flex!important;
        flex-direction: row;
        height: 60px;
        margin: 0 auto;
        width: auto;

        a {
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
            padding-left: 8px;
            padding-right: 8px;

            &.icon {
                padding-left: 2px;
                padding-right: 2px;

                svg {
                    max-height: 30px;
                    max-width: 30px;

                    &:hover {
                        fill: $color-primary;
                    }
                }
            }
        }

        .left {
            flex: 0 0 50%;
        }
        .right {
            flex: 0 0 50%;
            direction: rtl;
        }
    }
}

hr {
    border-width: 0;
    border-bottom: #f0f0f2 solid 1px;
}

.sm-hide {
    display: none;
}

@media (min-width: 700px) {
    body {
        margin: 0;
    }
    #wrapper {
        width: 650px;
        margin: 5em auto;
    }
    header.header {
        background-color: $background-primary;
        color: $color-primary;

        a, .app-name {
            color: $color-primary;
            fill: $color-primary;
        }
    }
    header.header > nav, footer.footer > nav {
        width: 650px;
    }

    .sm-hide {
        display: inline;
    }
}

@media (min-width: 1280px) {
    #wrapper, header.header > nav, footer.footer > nav {
        width: 1200px;
    }
    header.header > nav, footer.footer > nav {
        a {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}
